.deps
.libs
*.la
*.lo
*.o
/Makefile
/config.h
/config.log
/config.status
/doc/Makefile
/libdisasm/Makefile
/libtool
/man/Makefile
/perl/Makefile
/stamp-h1
/test/Makefile
/x86dis/Makefile
/x86dis/x86dis
